<html>
<body>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=page>
  <h1>Uber</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log in</a>
    <a href="{{ url_for('add_location') }}">Add</a>
    <a href="{{ url_for('modify_location') }}">Modify</a>
    <a href="{{ url_for('delete_location') }}">Delete</a>
    <a href="{{ url_for('show_location') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log out</a>
    <a href="{{ url_for('add_location') }}">Add</a>
    <a href="{{ url_for('modify_location') }}">Modify</a>
    <a href="{{ url_for('delete_location') }}">Delete</a>
    <a href="{{ url_for('show_location') }}">Home</a>
    <a href="{{ url_for('about') }}">About</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>