{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  
     <form action="{{ url_for('modify_location') }}" method=post class=add-location>
      <dl>
        <dt>Location name you want to modify:
        <dd><input type=text name=modifyname size = 30 ></textarea>
        <dt>Lat:
        <dd><input type=text name=lat size = 30 ></textarea>
        <dt>Lng:
        <dd><input type=text name=lng size = 30 ></textarea>
        <dt>Address:
        <dd><textarea name=address rows=2 cols=30></textarea>
        <dt>New Name:
        <dd><input type=text size=30 name=name>
        
        
         <input type=submit value=Modify> 
        
      </dl>
    </form>
  {% endif %}
  <ul class=location>
    <h4>
      Location's lists:
    </h4>
  {% for location in locations %}
    <li><h2>
    Name: {{ location.name}}
    ,Address: {{ location.address }}
    
    ,Lat: {{ location.lat}}
    ,Lng {{ location.lng}}
    </h2>
  {% else %}
    <li><em>there is no locations</em>
  {% endfor %}
  </ul>
{% endblock %}